<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="2" parallel="tests">
	<test name="ChromeTest">
		<parameter name="browser" value="Chrome" />
		<classes>
			<class name="testClasses.E2E.Test_01_Login">
			</class>
		</classes>
	</test> <!-- Test -->
	<test name="FirefoxTest">
		<parameter name="browser" value="Firefox" />
		<classes>
			<class name="testClasses.E2E.Test_01_Login">
			</class>
		</classes>
	</test>
	<test name="IETest">
		<parameter name="browser" value="IE" />
		<classes>
			<class name="testClasses.E2E.Test_01_Login">
			</class>
		</classes>
	</test>
</suite> <!-- Suite -->
